.experience {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 2px 16px;

    border: 3px solid #121c23;
    border-radius: 8px;

    gap: 16px;
}

.exp-title {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.add-exp {
    line-height: 1;

    padding: 12px;

    background: #fff;
    color: #020814;

    border: 1px;
    border-radius: 8px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4px;

    cursor: pointer;
    transition: all 0.2s ease;

    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.08),
        0 2px 4px rgba(0, 0, 0, 0.35);
}

.exp-input {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    border: 2px solid #2d3a46;
    border-radius: 10px;
    padding: 16px 12px;
}

.exp-input label {
    margin-bottom: 6px;
    font-weight: 600;
}

.expInput-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

.expInput-leftTop {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.expInput-leftBottom {
    display: flex;
    flex-direction: column;
}

.expInput-right {
    display: flex;
    flex-direction: column;
    width: 220px;
}