:root {
  --bg: #020814;
  --text: #ffffff;
  --font: 'PT Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font);
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.Center {
  display: flex;
  flex: 1;
  flex-direction: row;
}