.header{
  display: flex;
  height: 80px;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-bottom: 3px solid #121c23;
}

img {
  height: 75%;
  width: auto;
}